<div class="grid mb-2">
  <div class="col-12">
    <div class="card card--operation">
      <div class="p-fluid p-formgrid grid">
        <div
          class="field col-12 xl:col-2 lg:col-3 md:col-3 sm:col-3 field--operation"
        >
          <label for="C_COLADA">Colada</label>
          <input
            id="C_COLADA"
            maxlength="6"
            pInputText
            [(ngModel)]="results.parametro.C_COLADA"
            [disabled]="backFlag_"
          />
        </div>
        <div
          class="field col-12 xl:col-4 lg:col-7 md:col-7 sm:col-7 field--operation"
        >
          <label for="M_ESTADO">Estado Colada</label>
          <p-inputGroup>
            <input
              id="M_ESTADO"
              pInputText
              style="width: 80%"
              [(ngModel)]="results.parametro.M_ESTADO"
              disabled
            />
            <p-button
              pRipple
              pTooltip="Mostrar ayuda"
              tooltipPosition="bottom"
              label="..."
              (click)="displayChangeCxE(true)"
              [styleClass]="'visibility:' + (backFlag_ ? 'hidden' : 'visible')"
              styleClass="{width: 20%}"
            ></p-button>
          </p-inputGroup>
        </div>
        <div
          class="field col-12 xl:col-2 lg:col-4 md:col-4 sm:col-4 field--operation"
        >
          <label for="C_TIPO_ACERO">Tipo de Acero</label>
          <p-inputGroup>
            <input
              style="width: 50%"
              id="C_TIPO_ACERO"
              pInputText
              [(ngModel)]="results.parametro.C_TIPO_ACERO"
              maxlength="4"
              disabled
            />
            <input
              id="N_VERSIO_ACERO"
              pInputText
              style="width: 50%"
              [(ngModel)]="results.parametro.N_VERSIO_ACERO"
              disabled
            />
          </p-inputGroup>
        </div>

        <div class="field field--operation flex-align-end">
          <p-button
            pRipple
            label="Consultar"
            (click)="consult()"
            [disabled]="backFlag_"
            styleClass="{width: auto}"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-table
  [autoLayout]="true"
  [loading]="loading"
  [resizableColumns]="true"
  columnResizeMode="expand"
  styleClass="p-datatable-sm"
  selectionMode="single"
  [value]="rows"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h6 class="m-0">
        <strong>{{ title }}</strong>
      </h6>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center" rowspan="5">OFA</th>
      <th class="text-center" rowspan="3">Lote</th>
      <th class="text-center" rowspan="2">Química Adic.</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td class="text-center">
        {{ rowData.CC_NEF_OFA }}
      </td>
      <td class="text-center">
        {{ rowData.C_LOTE }}
      </td>
      <td class="text-center">
        <button
          pButton
          pRipple
          pTooltip="Mostrar ayuda"
          tooltipPosition="top"
          label="..."
          style="width: 10%"
          (click)="displayChangeDetOFA(true)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="32" style="text-align: left">
        No se han encontrado registros.
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toolbar styleClass="p-mb-12 ">
  <div style="text-align: right; width: 100%">
    <p-button class="mr-2" label="Alta " [disabled]="addFlag()"></p-button>
    <p-button
      class="mr-2"
      label="Modificar "
      [disabled]="updateFlag()"
    ></p-button>
    <p-button
      label="volver "
      (click)="back()"
      [disabled]="!backFlag_"
    ></p-button>
  </div>
</p-toolbar>

<app-transaction-info
  [W_PROG]="results.parametro.W_PROG"
  [W_COMANDO]="results.parametro.PAR_COMANDO"
  [W_IDEN]="results.parametro.PAR_IDEN"
  [W_TIPO_MENSA]="results.parametro.W_TIPO_MENSA"
  [W_MENSA]="results.parametro.W_MENSA"
/>
