<p-toolbar>
  <div class="p-fluid">
    <div class="p-field p-grid">
      <div class="p-col-2">
        <label for="C_COLADA" class="p-col-fixed p-d-flex p-jc-end"
          ><b>Colada:</b></label
        >
      </div>
      <div class="p-col-2">
        <input
          id="C_COLADA"
          type="text"
          maxlength="6"
          pInputText
          [(ngModel)]="results.parametro.C_COLADA"
          [disabled]="backFlag_"
        />
      </div>
      <div class="p-col-3">
        <label for="M_ESTADO" class="p-col-fixed p-d-flex p-jc-end"
          >Estado Colada:</label
        >
      </div>
      <div class="p-col-3">
        <input
          id="M_ESTADO"
          type="text"
          pInputText
          style="width: 100%"
          [(ngModel)]="results.parametro.M_ESTADO"
          disabled
        />
      </div>
      <div class="p-col-2">
        <button
          pButton
          pRipple
          pTooltip="Mostrar ayuda"
          tooltipPosition="top"
          label="..."
          (click)="displayChangeCxE(true)"
          [style]="'visibility:' + (backFlag_ ? 'hidden' : 'visible')"
        ></button>
      </div>
    </div>

    <div class="p-field p-grid">
      <div class="p-col-7">
        <label for="C_TIPO_ACERO" class="p-col-fixed p-d-flex p-jc-end"
          >Tipo de Acero:</label
        >
      </div>
      <div class="p-col-3">
        <input
          id="C_TIPO_ACERO"
          type="text"
          style="width: 50%; margin: 0px 0px 0px 0px"
          pInputText
          [(ngModel)]="results.parametro.C_TIPO_ACERO"
          maxlength="4"
          disabled
        />
        <input
          id="N_VERSIO_ACERO"
          type="text"
          pInputText
          style="width: 50%"
          [(ngModel)]="results.parametro.N_VERSIO_ACERO"
          disabled
        />
      </div>
      <div class="p-col-2.5">
        <button
          pButton
          pRipple
          label="Consultar"
          (click)="consult()"
          [disabled]="backFlag_"
        ></button>
      </div>
    </div>
  </div>
</p-toolbar>

<br />

<p-table
  [autoLayout]="true"
  [loading]="loading"
  [resizableColumns]="true"
  columnResizeMode="expand"
  styleClass="p-datatable-sm"
  selectionMode="single"
  [value]="rows"
  disabled
>
  <!-- [(selection)]="selected"  -->
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h6 class="p-m-0">
        <strong>{{ title }}</strong>
      </h6>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center" rowspan="5">OFA</th>
      <th class="text-center" rowspan="3">Lote</th>
      <th class="text-center" rowspan="2">Química Adic.</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td class="text-center">
        {{ rowData.CC_NEF_OFA }}
      </td>
      <td class="text-center">
        {{ rowData.C_LOTE }}
      </td>
      <td class="text-center">
        <button
          pButton
          pRipple
          pTooltip="Mostrar ayuda"
          tooltipPosition="top"
          label="..."
          style="width: 10%"
          (click)="
            displayChangeDetOFA(true);
            PosicionFila(rowData.CC_NEF_OFA, rowData.C_LOTE)
          "
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="32" style="text-align: left">
        No se han encontrado registros.
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toolbar styleClass="p-mb-12 ">
  <div style="text-align: center; width: 100%">
    <button
      pButton
      type="button "
      style="margin: 0px 10px 0px 0px"
      label="Alta "
      (click)="alta()"
      [disabled]="addFlag()"
    ></button>
    <button
      pButton
      type="button "
      style="margin: 0px 10px 0px 0px"
      label="Modificar "
      (click)="modificar()"
      [disabled]="updateFlag()"
    ></button>
    <button
      pButton
      type="button "
      style="margin: 0px 10px 0px 0px"
      label="volver "
      (click)="back()"
      [disabled]="!backFlag_"
    ></button>
  </div>
</p-toolbar>

<app-transaction-info
  [W_PROG]="results.parametro.W_PROG"
  [W_COMANDO]="results.parametro.PAR_COMANDO"
  [W_IDEN]="results.parametro.PAR_IDEN"
  [W_TIPO_MENSA]="results.parametro.W_TIPO_MENSA"
  [W_MENSA]="results.parametro.W_MENSA"
></app-transaction-info>

<!-- <app-coladas-xedo-planos
  (displayEvent)="displayChangeCxE($event)"
  (selectEvent)="selectedHelpCxE($event)"
  [displayHelp]="displayHelpColadasxEdo"
  [acceptFlag]="true"
></app-coladas-xedo-planos>

<app-detalle-colada-OFA-planos
  (displayEvent)="displayChangeDetOFA($event)"
  (selectEvent)="selectedHelpDetOFA($event)"
  [displayHelp]="displayHelpDetOFA"
  [acceptFlag]="false"
  [C_COLADA]="results.parametro.C_COLADA"
  [CC_NEF_OFA]="ofa"
  [C_LOTE]="lote"
>
</app-detalle-colada-OFA-planos> -->
