.layout-footer {
    transition: margin-left $transitionDuration;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-top: 1px solid var(--surface-border);
    
    // Añadido
    // padding-bottom: 1rem;
    // width: 100%;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // z-index: 1000;
    // background-color: var(--surface-card);
}
