<app-ejecucion-programa-carga-tabs />

<div class="grid mb-2">
  <div class="col-12">
    <div class="card card--operation">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 lg:col-2 md:col-3 sm:col-6 field--operation">
          <label for="D_NOMBRE_CIA_ABREV">Sociedad</label>
          <input
            pInputText
            [(ngModel)]="results.parametro.D_NOMBRE_CIA_ABREV"
            id="D_NOMBRE_CIA_ABREV"
            disabled
          />
        </div>
        <div class="field col-12 lg:col-2 md:col-3 field--operation">
          <label for="C_GRP_ALM">Centro</label>
          <p-inputGroup>
            <input
              pInputText
              [(ngModel)]="results.parametro.C_GRP_ALM"
              style="width: 50%"
              id="C_GRP_ALM"
              disabled
            />
            <input
              pInputText
              [(ngModel)]="results.parametro.D_GRP_ALM"
              style="width: 50%"
              id="D_GRP_ALM"
              disabled
            />
          </p-inputGroup>
        </div>
        <div class="field col-12 lg:col-2 md:col-3 sm:col-6 field--operation">
          <label for="N_PROG_DESP">Programa</label>
          <input
            id="N_PROG_DESP"
            pInputText
            [FillWithCero]="10"
            [(ngModel)]="results.parametro.N_PROG_DESP"
          />
        </div>
        <div class="field col-12 lg:col-2 md:col-3 sm:col-6 field--operation">
          <label for="F_CARGA">Fecha</label>
          <p-calendar
            id="F_CARGA"
            [(ngModel)]="date"
            [showIcon]="true"
            inputId="icon"
            dateFormat="dd/mm/yy"
            [baseZIndex]="10000"
            yearRange="2000:2050"
            [iconDisplay]="'input'"
            [showOnFocus]="false"
          >
          </p-calendar>
        </div>
        <div class="field col-12 lg:col-2 md:col-3 field--operation">
          <label for="N_SECUEN_PROG_MDW">Aut. Carga</label>
          <input
            id="N_SECUEN_PROG_MDW"
            pInputText
            [FillWithCero]="10"
            [(ngModel)]="results.parametro.N_SECUEN_PROG_MDW"
          />
        </div>
        <div class="field col-12 md:col-7 field--operation">
          <label for="C_EDO_PROG_MDW">Edo Autorización</label>
          <p-inputGroup>
            <input
              id="C_EDO_PROG_MDW"
              style="width: 10%"
              pInputText
              [FillWithCero]="2"
              [(ngModel)]="results.parametro.C_EDO_PROG_MDW"
            />
            <input
              [(ngModel)]="results.parametro.D_EDO_PROG"
              [disabled]="true"
              style="width: 70%"
              pInputText
            />
            <p-button
              pRipple
              class="w-auto"
              pTooltip="Mostrar ayuda"
              tooltipPosition="top"
              label="..."
              (click)="displayChange(true)"
            />
          </p-inputGroup>
        </div>
        <div class="field field--operation flex-align-end">
          <p-button
            pRipple
            class="w-auto"
            label="Consultar"
            (click)="consult()"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<app-basic-table
  [autoLayout]="true"
  [loading]="loading"
  [resizable]="true"
  [cols]="cols"
  [rows]="rows"
  [selected]="selected"
  [pag]="results.parametro.PAG"
  [paginator]="false"
  (selectedEvent)="selectedRow($event)"
>
  <p-button
    class="mr-2"
    label="Detalle"
    (click)="detail()"
    [disabled]="!selected"
  />
  <p-button [disabled]="nextPageFlag()" label="Siguiente" />
</app-basic-table>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button class="mr-2" label="Reordenar" [disabled]="true" />
    <p-button class="mr-2" label="Dev. Frente" [disabled]="true" />
    <p-button class="mr-2" label="Confirmación" [disabled]="true" />
    <p-button class="mr-2" label="Cancelar" [disabled]="true" />
  </div>
  <div class="p-toolbar-group-end">
    <p-button class="mr-2" label="Desp Cent Ext" [disabled]="true" />
    <p-button class="mr-2" label="ReImp. Autoriz." [disabled]="true" />
    <p-button class="mr-2" label="Seguimiento" [disabled]="true" />
  </div>
</p-toolbar>

<app-transaction-info
  [W_PROG]="results.parametro.W_PROG"
  [W_COMANDO]="results.parametro.PAR_COMANDO"
  [W_IDEN]="results.parametro.PAR_IDEN"
  [W_TIPO_MENSA]="results.parametro.W_TIPO_MENSA"
  [W_MENSA]="results.parametro.W_MENSA"
/>

<app-edo-programa
  (displayEvent)="displayChange($event)"
  (selectEvent)="selectedHelp($event)"
  [displayHelp]="displayHelp"
/>

<app-confirm-dialog />
