<div class="grid mb-2">
  <div class="col-12">
    <div class="card card--operation">
      <div class="p-fluid p-formgrid grid">
        <div
          class="field col-12 xl:col-4 lg:col-8 md:col-8 sm:col-7 field--operation"
        >
          <label for="CC_EDO_COLADA">Estado Colada</label>
          <p-inputGroup>
            <input
              id="CC_EDO_COLADA"
              type="text"
              maxlength="2"
              pInputText
              [(ngModel)]="results.parametro.CC_EDO_COLADA"
              style="width: 20%"
            />
            <input
              id="C_COLADA"
              type="text"
              maxlength="6"
              pInputText
              placeholder="RETENIDA QUIMICA FUERA ESPECIF."
              style="width: 80%"
            />
          </p-inputGroup>
        </div>
        <div
          class="field col-12 xl:col-2 lg:col-3 md:col-3 sm:col-3 field--operation"
        >
          <label for="C_COLADA">Colada</label>
          <input
            id="C_COLADA_I"
            type="text"
            maxlength="6"
            pInputText
            [(ngModel)]="results.parametro.C_COLADA_I"
          />
        </div>
        <div
          class="field field--operation flex-align-end"
          style="padding: 0.3rem"
        >
          <p-button
            pTooltip="Ver Coladas por Estado"
            tooltipPosition="bottom"
            label="..."
            class="w-auto"
            (click)="displayChangeCxE(true)"
          ></p-button>
        </div>
        <div class="field field--operation flex-align-end">
          <p-button
            pRipple
            label="Consultar"
            (click)="consult()"
            class="w-auto"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-basic-table
  [autoLayout]="true"
  [loading]="loading"
  [resizable]="true"
  [cols]="cols"
  [rows]="rows"
  [selected]="selected"
  [pag]="results.parametro.PAG"
  [paginator]="false"
  (selectedEvent)="selectedRow($event)"
>
  <p-button
    class="mr-2"
    label="Liberar Condicionada "
    (click)="libercond()"
    [disabled]="liberarFlag()"
  />
  <p-button
    label="Siguiente"
    [disabled]="nextPageFlag()"
    (click)="nextPage()"
  />
</app-basic-table>

<app-confirm-dialog></app-confirm-dialog>
