<div class="grid mb-2">
  <div class="col-12">
    <div class="card card--operation">
      <div class="p-fluid p-formgrid grid">
        <div
          class="field col-12 xl:col-4 lg:col-8 md:col-8 sm:col-7 field--operation"
        >
          <label for="CC_EDO_COLADA">Estado Colada</label>
          <p-inputGroup>
            <input
              id="CC_EDO_COLADA"
              type="text"
              maxlength="2"
              pInputText
              [(ngModel)]="results.parametro.CC_EDO_COLADA"
              style="width: 20%"
            />
            <input
              id="C_COLADA"
              type="text"
              maxlength="6"
              pInputText
              placeholder="RETENIDA QUIMICA FUERA ESPECIF."
              style="width: 80%"
            />
          </p-inputGroup>
        </div>
        <div
          class="field col-12 xl:col-2 lg:col-3 md:col-3 sm:col-3 field--operation"
        >
          <label for="C_COLADA">Colada</label>
          <input
            id="C_COLADA_I"
            type="text"
            maxlength="6"
            pInputText
            [(ngModel)]="results.parametro.C_COLADA_I"
          />
        </div>
        <div
          class="field field--operation flex-align-end"
          style="padding: 0.3rem"
        >
          <!-- <label>Coladas</label> -->
          <p-button
            pTooltip="Ver Coladas por Estado"
            tooltipPosition="bottom"
            label="..."
            styleClass="{width: auto}"
            (click)="displayChangeCxE(true)"
          ></p-button>
        </div>
        <div class="field field--operation flex-align-end">
          <p-button
            pRipple
            label="Consultar"
            (click)="consult()"
            styleClass="{width: auto}"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-basic-table
  [autoLayout]="true"
  [loading]="loading"
  [resizable]="true"
  [cols]="cols"
  [rows]="rows"
  [selected]="selected"
  [pag]="results.parametro.PAG"
  [paginator]="false"
  (selectedEvent)="selectedRow($event)"
>
  <p-button
    class="mr-2"
    label="Liberar Condicionada "
    (click)="libercond()"
    [disabled]="liberarFlag()"
  ></p-button>
  <p-button
    class="mr-2"
    label="Liberar "
    (click)="confirmDialog()"
    [disabled]="liberarFlag()"
  ></p-button>
  <p-button
    label="Siguiente"
    [disabled]="nextPageFlag()"
    (click)="nextPage()"
  ></p-button>
</app-basic-table>

<!-- <p-table
  [autoLayout]="true"
  [loading]="loading"
  [resizableColumns]="true"
  columnResizeMode="expand"
  styleClass="p-datatable-sm"
  selectionMode="single"
  [value]="rows"
  [columns]="cols"
  [(selection)]="selected"
  [scrollable]="true"
  scrollHeight="250px"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h6 class="p-m-0">
        <strong>{{ title }}</strong>
      </h6>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th class="text-center" rowspan="2">Colada</th>
      <th class="text-center" rowspan="2">Tipo Acero</th>
      <th class="text-center" rowspan="2">Versión Acero</th>
      <th class="text-center" rowspan="2">Resultado Ensayo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" class="text-center">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="32" style="text-align: left">
        No se han encontrado registros.
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div>
      <div class="p-field p-grid"></div>
      <div class="p-d-flex p-jc-between">
        <div class="p-col-2">
          <label style="padding-right: 10px">Página:</label>
          <input
            readonly
            [(ngModel)]="results.parametro.PAG"
            type="text"
            style="width: 30%"
            pInputText
          />
        </div>

        <div class="p-col-10">
          <p-button
            
            class="mr-2"
            label="Liberar Condicionada "
            (click)="libercond()"
            [disabled]="liberarFlag()"
          ></p-button>
          <p-button
            
            class="mr-2"
            label="Liberar "
            (click)="confirmDialog()"
            [disabled]="liberarFlag()"
          ></p-button>
          <p-button
            
            label="Siguiente"
            [disabled]="nextPageFlag()"
            (click)="nextPage()"
          ></p-button>
        </div>
      </div>
    </div>
  </ng-template>

  <app-transaction-info
    [W_PROG]="results.parametro.W_PROG"
    [W_COMANDO]="results.parametro.PAR_COMANDO"
    [W_IDEN]="results.parametro.PAR_IDEN"
    [W_TIPO_MENSA]="results.parametro.W_TIPO_MENSA"
    [W_MENSA]="results.parametro.W_MENSA"
  ></app-transaction-info>
</p-table> -->

<!-- <app-coladas-xedo-planos
  (displayEvent)="displayChangeCxE($event)"
  (selectEvent)="selectedHelpCxE($event)"
  [displayHelp]="displayHelpColadasxEdo"
  [CC_COLADA]="results.parametro.CC_COLADA"
>
</app-coladas-xedo-planos> -->

<app-confirm-dialog
  (acceptEvent)="confirmDialogAccept($event)"
></app-confirm-dialog>
