<p-table
  [autoLayout]="autoLayout"
  [loading]="loading"
  [columns]="cols"
  [value]="rows_"
  [resizableColumns]="resizable"
  columnResizeMode="expand"
  styleClass="p-datatable-sm p-datatable-gridlines"
  selectionMode="single"
  [(selection)]="selected"
  (onRowSelect)="select()"
  (onRowUnselect)="select()"
  [paginator]="paginator"
  [rows]="num"
  #dt
  [(first)]="first"
  [scrollable]="scrollable" 
  [scrollHeight]="scrollHeight" 
>
  <ng-template pTemplate="caption" *ngIf="title || excel || filters">
    <div class="p-d-flex p-ai-center p-jc-between">
      <div>
        <h6 class="p-m-0" *ngIf="title">
          <strong>{{ title }}</strong>
        </h6>
      </div>
      <div>
        <button
          *ngIf="excel"
          type="button"
          pButton
          pRipple
          icon="pi pi-file-excel"
          (click)="exportExcel()"
          class="p-button-success p-ml-auto"
          pTooltip="Exportar excel"
          tooltipPosition="right"
          tooltipZIndex="90000"
        ></button>
        <button
          *ngIf="filters"
          pButton
          style="margin-left: 15px"
          icon="pi pi-filter"
          pTooltip="Filtros"
          tooltipPosition="right"
          (click)="filtersChange()"
          class="p-ml-auto"
          (click)="dt.clear()"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        pResizableColumn
        [pSortableColumn]="col.field"
        [ngStyle]="{ width: col.width }"
        class="text-center"
      >
        {{ col.header }}
      </th>
    </tr>

    <tr *ngIf="filter">
      <th *ngFor="let col of columns">
        <!-- (input)="dt.filter($event.target.value, col.field, 'startsWith')" -->
        <input
          #searchInput
          pInputText
          type="text"
          placeholder="Buscar {{ col.header }}"
          class="p-column-filter"
          appendTo="body"
          class="text-center"
        />
        <!-- (input)="dt.filterGlobal(searchInput.value, col.field, 'startsWith')" -->
        <!-- [style]="{ width: '100%' }" -->
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" class="text-center">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="28" style="text-align: left">
        No se han encontrado registros.
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex justify-content-between flex-wrap">
      <!-- w-10rem -->
      <div class="flex align-items-center h-2rem m-2">
        <label [hidden]="!pag" htmlFor="PAG" class="mr-2">Página:</label>
        <input [hidden]="!pag" id="PAG" readonly [(ngModel)]="pag" style="width: 50px" pInputText />
      </div>
      <div class="flex align-items-center h-2rem m-2">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</p-table>
